In [215]:
from __future__ import division
import pandas as pd 
import datefinder
from nltk import word_tokenize
import nltk, re, pprint
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\98900\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [11]:
'''raw = "my name is maneesh yadav from prayagraj and date of birth is 13/dec/96"'''

In [15]:
'''a=word_tokenize(raw)
a
for i in a:
    print(i)'''

my
name
is
maneesh
yadav
from
prayagraj
and
date
of
birth
is
13/dec/96

In [74]:
'''for i in a:
    pass
    mat = datefinder.find_dates(i)
    for date in mat:
        print(date)'''

In [216]:
df= pd.read_excel('date.xlsx')
df

,NAME_PLACE_WORK,START_DATE,INTERMIDIATE_DATE,LAST_DATE
0,CONSTRUCTION,The starting date for the construction work is...,half completed on 12AUG20,2020-08-30 00:00:00
1,PROJECT,Project starting date 1 January 2009.,12-12-2012 at 11pm,12-05-2015 at 4pm
2,DEROGATION,Derogations for some countries regarding the s...,asia meetup on 2014 feb,end on 2nd aug
3,MADRID AIRPORT,7 December 1983 of two aircraft on the ground,20 August a serious accident occurred at Madri...,crashed on runway 01/19 at Madrid-Barajas Airport
4,WORLD WAR,"1939 September 3 World War II begins , Resigna...",31-12-2001 2pm,march 23/2021
5,HINDU_CHEMISTRY,History of Hindu Chemistry’was published in j...,16-06-1944 12pm,march 01-03-2009
6,MAYOR OF DELHI,"Elected as first Mayor of Delhi, 1958 Nov.",In sep 1990 by BJP,last elected on dec 2017
7,BHAGAT SINGH,born on 28 sep 1907,"In NOV 1923, he won an essay competition set b...","He was executed on March 23, 1931."
8,BALIRAM RAO,1 April 1889,rao founded the RSS in Nagpur in 27 September ...,1pm 21-06-1940
9,RSS,He established the Rashtriya Swayamsevak Sangh...,"In 1940, Madhavrao Muley was appointed",new elected for rss candiate on 2015

In [220]:
type(df['NAME_PLACE_WORK'])

pandas.core.series.Series

In [224]:
#data present in column 
df['START_DATE']

0    The starting date for the construction work is...
1                Project starting date 1 January 2009.
2    Derogations for some countries regarding the s...
3        7 December 1983 of two aircraft on the ground
4    1939 September 3 World War II begins , Resigna...
5    History of Hindu Chemistry’was published in  j...
6           Elected as first Mayor of Delhi, 1958 Nov.
7                                 born on 28 sep 1907
8                                         1 April 1889
9    He established the Rashtriya Swayamsevak Sangh...
Name: START_DATE, dtype: object

In [228]:
lst=[]
for date1 in df['START_DATE']:
    #print(date1)
    dat = datefinder.find_dates(date1)
    #print(dat)
    for date_1 in dat:
        lst.append(date_1)
        #df[date_1]=pd.
#print(lst)
df['date_1'] = lst

In [229]:
lst2=[]
for date2 in df['INTERMIDIATE_DATE']:
    #print(date2)
    dat2 = datefinder.find_dates(date2)
    #print(dat2)
    for date_2 in dat2:
        lst2.append(date_2)
        #print(date_2)
df['date_2'] = lst2

In [230]:
lst3=[]
for date3 in df['LAST_DATE']:
    #print(date3)
    dat3 = datefinder.find_dates(date2)
    #print(dat3)
    for date_3 in dat3:
        lst3.append(date_3)
        #print(date_3)
df['date_3'] = lst3

In [231]:
df['date_1-date_2'] = df['date_2'].sub(df['date_1'], axis=0)
df['date_2-date_3'] = df['date_3'].sub(df['date_2'], axis=0)
df['date_1-date_3'] = df['date_3'].sub(df['date_1'], axis=0)
df.head()

,NAME_PLACE_WORK,START_DATE,INTERMIDIATE_DATE,LAST_DATE,date_1,date_2,date_3,date_1-date_2,date_2-date_3,date_1-date_3
0,CONSTRUCTION,The starting date for the construction work is...,half completed on 12AUG20,2020-08-30 00:00:00,2020-06-23,2020-08-12 00:00:00,1940-08-18,50 days 00:00:00,-29214 days +00:00:00,-29164 days
1,PROJECT,Project starting date 1 January 2009.,12-12-2012 at 11pm,12-05-2015 at 4pm,2009-01-01,2012-12-12 23:00:00,1940-08-18,1441 days 23:00:00,-26415 days +01:00:00,-24973 days
2,DEROGATION,Derogations for some countries regarding the s...,asia meetup on 2014 feb,end on 2nd aug,2020-06-30,2014-02-18 00:00:00,1940-08-18,-2324 days +00:00:00,-26847 days +00:00:00,-29171 days
3,MADRID AIRPORT,7 December 1983 of two aircraft on the ground,20 August a serious accident occurred at Madri...,crashed on runway 01/19 at Madrid-Barajas Airport,1983-12-07,2020-08-20 00:00:00,1940-08-18,13406 days 00:00:00,-29222 days +00:00:00,-15816 days
4,WORLD WAR,"1939 September 3 World War II begins , Resigna...",31-12-2001 2pm,march 23/2021,1939-09-03,2001-12-31 14:00:00,1940-08-18,22765 days 14:00:00,-22416 days +10:00:00,350 days

In [232]:
df.to_csv('date extraction.csv')